@{
    Layout = "Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
                            <li><a href="/default.cshtml">Home</a></li>
                            <li><a href="/pages/products.cshtml">Products</a></li>
                            <li class="active"><a href="/pages/cart.cshtml">Cart</a></li>
                            <li><a href="/pages/contact.cshtml">Contact</a></li>

                        </ul>
                    </nav>
                </div>
            </div>

</body>
</html>
