@using Webshop_Site.Classes
@using Webshop_Site.Interfaces
@{
    Layout = "Master.cshtml";

    ICart cart = new Cart();

    IProduct product1 = new Product();
    product1.Brand = "Nike";
    product1.Price = 130;
    product1.Color = "Black";
    product1.Size = "43";
    product1.Typ = "Shoe";

    IProduct product2 = new Product();
    product2.Brand = "Addidas";
    product2.Price = 140;
    product2.Color = "White";
    product2.Size = "45";
    product2.Typ = "Shoe";

    IProduct product3 = new Product();
    product3.Brand = "Reebok";
    product3.Price = 150;
    product3.Color = "Blue";
    product3.Size = "42";
    product3.Typ = "Shoe";

    cart.AddProduct(product1);
    cart.AddProduct(product2);
    cart.AddProduct(product3);

    double price = 0;
    bool hasposted = false;
    if (IsPost)
    {
        hasposted = true;
        price = cart.GetTotalPrice();
    }




}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="" method="POST">
            <p><input type="submit" value="Total"/>
            </p>
        </form>
        @if (hasposted == true)
        {
            @price
        }
    </div>
</body>
</html>
